<%= form_for(user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Confirm Password" %>
	<%= f.password_field :password_confirmation %>

	<%= f.label :country, "Country" %>
	<%= f.select(:country, COUNTRIES) %>

	<%= f.label :city, "City" %>
	<%= f.text_field(:city) %>

	<label>Areas of Experience</label>
	<input type="hidden" id="experience" name="user[experience]" value="<%= user.experience %>" />
	<div class="tags_display" id='tagdisplay'>
		<% user.experience_tags.each do |tag| %>
			<span class="sotag"><%= tag %><span title="remove this tag" class="delete-tag">x</span></span>
		<% end %>
	</div>
	<div class="break"></div>
	<input type="text" class="exp_tags" id="exp_tags" list="exptags" />
	<span id="addExp" class="addTag btn btn-small">+</span>
	<datalist id="exptags" class="tags">
	</datalist>
	<label>Sought After Experience</label>
	<input type="hidden" id="interested_in" name="user[interested_in]" value="<%= user.interested_in %>" />
	<div class="tags_display" id='interestTagdisplay'>
		<% user.interests.each do |tag| %>
			<span class="sotag"><%= tag %><span title="remove this tag" class="delete-tag">x</span></span>
		<% end %>
	</div>
	<div class='break'></div>
	<input type="text" class="exp_tags" id="sought_tags" list="soughtags" />
	<span id="addInterest" class="addTag btn btn-small">+</span>
	<datalist id="soughtags" class="tags">
	</datalist>
	<script type="text/javascript">
		$(function(){
			$('.exp_tags').keyup(delayRequest);
			function dataRequest() {
				$('.tags').html('');
				var input = $(this).val();
				$.ajax({ url: 'https://api.stackexchange.com/2.0/tags?inname='+ input + '&pagesize=10&site=stackoverflow&key=b%29S0aJ98RX%29vVWdxW1obTw%28%28&jsonp=soResponse',
				  dataType: 'jsonp',
				  timeout: 10000,
				  jsonp: "callback",
				  success: addOption,
				});
			}
			function addOption(data){
				$.each(data.items, function() {
					$('.tags').append('<option value="' + this.name + '">');
				});
			};
			function delayRequest(ev) {
				if (ev.which < 41 && ev.which > 8) return false;
				if ($(this).val() == '') return false;
		    if(delayRequest.timeout) {
		        clearTimeout(delayRequest.timeout);
		    }
		    var target = this;
		    delayRequest.timeout = setTimeout(function() {
		        dataRequest.call(target, ev);
		    }, 800);
			};
			function deleteTag(){
				var parent = $(this).parent();
				$(this).remove();
				var tag = parent.html();
				var tags = parent.parent().prev();
				var exp = tags.val();
				tags.val(exp.replace(tag, ''));
				parent.remove();
			}
			$('.delete-tag').click(deleteTag);
			$('#addExp').click(function(){
				tryAddTag($('#exp_tags'), $('#experience'), $('#tagdisplay'));
			});
			$('#addInterest').click(function(){
				tryAddTag($('#sought_tags'), $('#interested_in'), $('#interestTagdisplay'));
			});
			function tryAddTag(tagToAdd, currentTags, section){
				if (tagToAdd.val() != '') {
					var exp = currentTags.val() + ' ' + tagToAdd.val();
					currentTags.val(exp.replace(/^\s\s*/, '').replace(/\s\s*$/, ''));
					var delTag = $('<span title="remove this tag" class="delete-tag">x</span>');
					var tagHtml = $('<span class="sotag">'+ tagToAdd.val() +'</span>');
					tagHtml.append(delTag);
					delTag.click(deleteTag);
					section.append(tagHtml);
					tagToAdd.val('');
				}
			}
		});
	</script>
</br>
	<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>